@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Heebo-Regular.ttf');
}

body{
    font-family: 'Heebo', sans-serif;
    direction: rtl;
}

h1{
    margin: 0px;
}

#loader{
    position: relative;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

#logo-spinner-container{
    position: absolute;
    width: 50%;
    right: 50%;
    bottom: 50%;
    transform:translate(50%,50%)
}

#loader p {
   text-align: center;
   position: relative;
   top: 30px;
}
#logo-spinner-container span{
    position: absolute;
    right: 50%;
    bottom: 60%;
    transform:translate(50%,50%);
    font-size: 15vw;
    font-weight: bold;
    z-index: 2;
    background: linear-gradient(to right, #FFE32D , #FAB019);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-hand-img{
    position: absolute;
    width:70%;
    bottom: 5%;
    right: 10%;
    z-index: 2;
}
.spin360 {
    
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s ease-in;
}


.slide-down{  
    animation-name: slideDown;
    animation-duration: 3s;
    animation-fill-mode: forwards
}

@keyframes slideDown{
    0% {}
    100% {background-color: white; height: 0px; display: none;}
}


/*After loading elements*/


#app-title img{
    width: 40%;
}